Repository dfinity/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/dx, @dfinity-lab/infra, @ghost

.github/CODEOWNERS:

# The whole SDK team owns the whole repo for now.
* @dfinity/dx

# The infra team can still approve Nix PRs.
**/*.nix @dfinity-lab/infra
nix/** @dfinity-lab/infra

// Allows sources.json to be updated without full approval (only CI).
nix/sources.json @ghost

build: niv motoko: update 43da0ac1 -> e22c02d7 (#1814)
  nix/sources.json
Owners: @ghost

build: niv motoko: update e22c02d7 -> e1569d74
  nix/sources.json
Owners: @ghost

chore: update replica da2e149 -> a2e589c
  .github/CONTRIBUTING.adoc
  nix/sources.json
Owners: @dfinity/dx, @ghost

attempt retries when fetching root key. this should actually happen in the agent, but by starting here I can run e2e tests locally
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

fmt
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

build: niv motoko: update e22c02d7 -> e1569d74 (#1829)
  nix/sources.json
Owners: @ghost

replica sometimes reports a root_key while health_status is still waiting_for_certified_state
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

this is discovery code, but ok, if let
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

try waiting for status to return healthy
  e2e/utils/_.bash
Owners: @dfinity/dx

Revert "try waiting for status to return healthy"
  e2e/utils/_.bash
Owners: @dfinity/dx

Revert "this is discovery code, but ok, if let"
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

Revert "replica sometimes reports a root_key while health_status is still waiting_for_certified_state"
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

just delete a comment so that CI actually runs the tests again
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

build: niv advisory-db: update 1db76028 -> d5c7ae1c
  nix/sources.json
Owners: @ghost

build: niv advisory-db: update 1db76028 -> d5c7ae1c (#1831)
  nix/sources.json
Owners: @ghost

retest 1
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

retest 1
  src/dfx/src/commands/start.rs
  src/dfx/src/lib/root_key.rs
Owners: @dfinity/dx

chore: removes any reference to telemetry
  e2e/tests-dfx/identity_command.bash
  e2e/tests-dfx/telemetry.bash
  src/dfx/assets/consent.txt
  src/dfx/src/lib/mod.rs
  src/dfx/src/lib/telemetry/mod.rs
  src/dfx/src/main.rs
Owners: @dfinity/dx

cargo format
  src/dfx/src/main.rs
Owners: @dfinity/dx

chore: removes any reference to telemetry (#1832)
  e2e/tests-dfx/identity_command.bash
  e2e/tests-dfx/telemetry.bash
  src/dfx/assets/consent.txt
  src/dfx/src/lib/mod.rs
  src/dfx/src/lib/telemetry/mod.rs
  src/dfx/src/main.rs
Owners: @dfinity/dx

build: niv common: update 85c4d3f3 -> bd7a905e
  nix/sources.json
Owners: @ghost

build: niv common: update 85c4d3f3 -> bd7a905e (#1833)
  nix/sources.json
Owners: @ghost

widen replica start timeout since it takes longer to become healthy; this takes longer yet on CI
  src/dfx/src/actors/replica.rs
Owners: @dfinity/dx

start_dfx: ping until healthy (though ic-hs does not report health status)
  e2e/utils/_.bash
Owners: @dfinity/dx

Use DFX_CONFIG_ROOT rather than HOME in most tests
  e2e/tests-dfx/dfx_install.bash
  e2e/tests-dfx/identity_command.bash
  e2e/tests-dfx/usage_env.bash
  e2e/tests-dfx/wallet.bash
Owners: @dfinity/dx
