Repository dfinity/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/sdk, @chenyan-dfinity, @dfinity-lab/infra, @ghost

.github/CODEOWNERS:

# The whole SDK team owns the whole repo for now.
* @dfinity/sdk @chenyan-dfinity

# The infra team can still approve Nix PRs.
**/*.nix @dfinity-lab/infra
nix/** @dfinity-lab/infra

# Allows sources.json to be updated without full approval (only CI).
nix/sources.json @ghost

refactor: move cmc, ledger methods from commands/ to lib/ (#3234)
  src/dfx/src/commands/ledger/create_canister.rs
  src/dfx/src/commands/ledger/mod.rs
  src/dfx/src/commands/ledger/notify/create_canister.rs
  src/dfx/src/commands/ledger/notify/top_up.rs
  src/dfx/src/commands/ledger/top_up.rs
  src/dfx/src/commands/ledger/transfer.rs
  src/dfx/src/commands/quickstart.rs
  src/dfx/src/lib/operations/cmc.rs
  src/dfx/src/lib/operations/ledger.rs
  src/dfx/src/lib/operations/mod.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix(extension-run): allow params with multiple values
  e2e/tests-dfx/extension.bash
  src/dfx/src/lib/extension/manifest/extension.rs
Owners: @dfinity/sdk, @chenyan-dfinity

more rigid e2e asserts
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

Update src/dfx/src/lib/extension/manifest/extension.rs
  src/dfx/src/lib/extension/manifest/extension.rs
Owners: @dfinity/sdk, @chenyan-dfinity

`pub multiple: Option<bool>` -> `#[serde(default)] pub multiple: bool`
  src/dfx/src/lib/extension/manifest/extension.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix(extension-run): allow params with multiple values (#3235)
  e2e/tests-dfx/extension.bash
  src/dfx/src/lib/extension/manifest/extension.rs
Owners: @dfinity/sdk, @chenyan-dfinity

Deploying to public-manifest from @ da9984efe722d2d688635739ada61c9a35a9bac0 🚀
  install.sh
Owners: @dfinity/sdk, @chenyan-dfinity

chore: remove `dfx nns` & `dfx sns` (use `dfx extension install` instead) (#3229)
  CHANGELOG.md
  docs/cli-reference/dfx-nns.md
  docs/cli-reference/dfx-sns.md
  docs/cli-reference/index.md
  e2e/assets/nns/ident-1/identity.pem
  e2e/assets/sns/valid/logo.png
  e2e/assets/sns/valid/sns.yml
  e2e/tests-dfx/ledger.bash
  e2e/tests-dfx/nns.bash
  e2e/tests-dfx/sns.bash
  src/dfx/src/commands/mod.rs
  src/dfx/src/commands/nns/import.rs
  src/dfx/src/commands/nns/install.rs
  src/dfx/src/commands/nns/mod.rs
  src/dfx/src/commands/sns/config/create.rs
  src/dfx/src/commands/sns/config/mod.rs
  src/dfx/src/commands/sns/config/validate.rs
  src/dfx/src/commands/sns/deploy.rs
  src/dfx/src/commands/sns/download.rs
  src/dfx/src/commands/sns/import.rs
  src/dfx/src/commands/sns/mod.rs
  src/dfx/src/lib/mod.rs
  src/dfx/src/lib/nns/install_nns.rs
  src/dfx/src/lib/nns/install_nns/canisters.rs
  src/dfx/src/lib/nns/mod.rs
  src/dfx/src/lib/sns/create_config.rs
  src/dfx/src/lib/sns/deploy.rs
  src/dfx/src/lib/sns/mod.rs
  src/dfx/src/lib/sns/validate_config.rs
Owners: @dfinity/sdk, @chenyan-dfinity

Deploying to public-manifest from @ 4b2a8916c3362ec18aea43f8085dc441c3be2b9d 🚀
  install.sh
Owners: @dfinity/sdk, @chenyan-dfinity

chore: update replica version to 0ab9178c6684f122ae713928b3664c33a697e9c4
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @ghost, @dfinity/sdk, @chenyan-dfinity

changelog
  CHANGELOG.md
Owners: @dfinity/sdk, @chenyan-dfinity

chore: update replica version to release candidate 0ab9178c (#3236)
  CHANGELOG.md
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @dfinity/sdk, @chenyan-dfinity, @ghost

changelog
  CHANGELOG.md
Owners: @dfinity/sdk, @chenyan-dfinity

fix: response verification v2 (#3212)
  .github/workflows/audit.yml
  CHANGELOG.md
  Cargo.lock
  src/canisters/frontend/ic-certified-assets/Cargo.toml
  src/canisters/frontend/ic-certified-assets/src/asset_certification/mod.rs
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/certification.rs
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/http.rs
  src/canisters/frontend/ic-certified-assets/src/lib.rs
  src/canisters/frontend/ic-certified-assets/src/state_machine.rs
  src/canisters/frontend/ic-certified-assets/src/tests.rs
  src/distributed/assetstorage.wasm.gz
Owners: @dfinity/sdk, @chenyan-dfinity

fixes
  Cargo.lock
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/rc_bytes.rs
  src/dfx/Cargo.toml
Owners: @dfinity/sdk, @chenyan-dfinity
