Repository dfinity/sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dfinity/sdk, @chenyan-dfinity, @dfinity-lab/infra, @ghost

.github/CODEOWNERS:

# The whole SDK team owns the whole repo for now.
* @dfinity/sdk @chenyan-dfinity

# The infra team can still approve Nix PRs.
**/*.nix @dfinity-lab/infra
nix/** @dfinity-lab/infra

# Allows sources.json to be updated without full approval (only CI).
nix/sources.json @ghost

chore: update replica version to 7742d96ddd30aa6b607c9d2d4093a7b714f5b25b
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @ghost, @dfinity/sdk, @chenyan-dfinity

changelog
  CHANGELOG.md
Owners: @dfinity/sdk, @chenyan-dfinity

fix
  Cargo.lock
  Cargo.toml
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/rc_bytes.rs
Owners: @dfinity/sdk, @chenyan-dfinity

refactor ensure_dir_exists
  src/dfx-core/src/error/extension.rs
  src/dfx/src/lib/environment.rs
  src/dfx/src/lib/extension/manager/install.rs
  src/dfx/src/lib/extension/manager/mod.rs
  src/dfx/src/main.rs
Owners: @dfinity/sdk, @chenyan-dfinity

oops
  src/dfx-core/src/error/extension.rs
Owners: @dfinity/sdk, @chenyan-dfinity

chore: update replica version to 7742d96d (#3228)
  CHANGELOG.md
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @dfinity/sdk, @chenyan-dfinity, @ghost

fix asset canister
  Cargo.lock
  src/canisters/frontend/ic-certified-assets/Cargo.toml
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/http.rs
  src/canisters/frontend/ic-certified-assets/src/lib.rs
  src/canisters/frontend/ic-certified-assets/src/state_machine.rs
  src/canisters/frontend/ic-certified-assets/src/tests.rs
Owners: @dfinity/sdk, @chenyan-dfinity

imprv err msg
  src/dfx/src/lib/error/extension.rs
  src/dfx/src/lib/extension/manifest/extension.rs
  src/dfx/src/main.rs
Owners: @dfinity/sdk, @chenyan-dfinity

feat(extensions): `dfx --help` lists installed extensions (#3096)
  e2e/tests-dfx/extension.bash
  e2e/tests-dfx/usage.bash
  src/dfx-core/src/config/cache.rs
  src/dfx/Cargo.toml
  src/dfx/src/commands/extension/run.rs
  src/dfx/src/commands/mod.rs
  src/dfx/src/lib/deps/mod.rs
  src/dfx/src/lib/environment.rs
  src/dfx/src/lib/error/extension.rs
  src/dfx/src/lib/extension/manager/execute.rs
  src/dfx/src/lib/extension/manager/install.rs
  src/dfx/src/lib/extension/manager/list.rs
  src/dfx/src/lib/extension/manager/mod.rs
  src/dfx/src/lib/extension/manifest/extension.rs
  src/dfx/src/lib/extension/mod.rs
  src/dfx/src/main.rs
Owners: @dfinity/sdk, @chenyan-dfinity

Deploying to public-manifest from @ 44ff6992eafb0c199676d6bafec0a8333c0bfe4c 🚀
  install.sh
Owners: @dfinity/sdk, @chenyan-dfinity

remove nns and sns files
  docs/cli-reference/dfx-nns.md
  docs/cli-reference/dfx-sns.md
  e2e/assets/nns/ident-1/identity.pem
  e2e/assets/sns/valid/logo.png
  e2e/assets/sns/valid/sns.yml
  e2e/tests-dfx/nns.bash
  e2e/tests-dfx/sns.bash
  src/dfx/src/commands/mod.rs
  src/dfx/src/commands/nns/import.rs
  src/dfx/src/commands/nns/install.rs
  src/dfx/src/commands/nns/mod.rs
  src/dfx/src/commands/sns/config/create.rs
  src/dfx/src/commands/sns/config/mod.rs
  src/dfx/src/commands/sns/config/validate.rs
  src/dfx/src/commands/sns/deploy.rs
  src/dfx/src/commands/sns/download.rs
  src/dfx/src/commands/sns/import.rs
  src/dfx/src/commands/sns/mod.rs
  src/dfx/src/lib/mod.rs
  src/dfx/src/lib/nns/install_nns.rs
  src/dfx/src/lib/nns/install_nns/canisters.rs
  src/dfx/src/lib/nns/mod.rs
  src/dfx/src/lib/sns/create_config.rs
  src/dfx/src/lib/sns/deploy.rs
  src/dfx/src/lib/sns/mod.rs
  src/dfx/src/lib/sns/validate_config.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix the issues
  Cargo.lock
  src/dfx-core/Cargo.toml
  src/dfx-core/src/extension/manager/install.rs
  src/dfx/src/commands/extension/install.rs
  src/dfx/src/main.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix ledger e2e tests
  e2e/tests-dfx/ledger.bash
Owners: @dfinity/sdk, @chenyan-dfinity

fix
  e2e/assets/warning/main.mo
  src/distributed/assetstorage.wasm.gz
Owners: @dfinity/sdk, @chenyan-dfinity

build: niv advisory-db: update 1f538e6f -> 5ceeefcb
  nix/sources.json
Owners: @ghost

build: niv advisory-db: update 1f538e6f -> 5ceeefcb (#3230)
  nix/sources.json
Owners: @ghost

fix e2e
  e2e/tests-dfx/ledger.bash
Owners: @dfinity/sdk, @chenyan-dfinity

improve log message
  src/dfx/src/lib/operations/canister/install_canister.rs
Owners: @dfinity/sdk, @chenyan-dfinity

changelog for assetcanister
  CHANGELOG.md
Owners: @dfinity/sdk, @chenyan-dfinity

chore: bump candid to 0.9 (#3227)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  e2e/assets/warning/main.mo
  src/canisters/frontend/ic-certified-assets/Cargo.toml
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/http.rs
  src/canisters/frontend/ic-certified-assets/src/asset_certification/types/rc_bytes.rs
  src/canisters/frontend/ic-certified-assets/src/lib.rs
  src/canisters/frontend/ic-certified-assets/src/state_machine.rs
  src/canisters/frontend/ic-certified-assets/src/tests.rs
  src/dfx/Cargo.toml
  src/dfx/src/commands/remote/generate_binding.rs
  src/dfx/src/lib/models/canister.rs
  src/dfx/src/util/mod.rs
  src/distributed/assetstorage.wasm.gz
Owners: @dfinity/sdk, @chenyan-dfinity

fix
  src/dfx/src/commands/extension/run.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix(extension): when executing ext, allow params with hyphens
  src/dfx/src/commands/extension/run.rs
Owners: @dfinity/sdk, @chenyan-dfinity

e2e
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

discard lint error (current behavior is correct - we dont want to expand variables inside this string)
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

don't delete docs; add a warning
  docs/cli-reference/dfx-nns.md
  docs/cli-reference/dfx-sns.md
  docs/cli-reference/index.md
Owners: @dfinity/sdk, @chenyan-dfinity

changelog
  CHANGELOG.md
  docs/cli-reference/dfx-nns.md
  docs/cli-reference/dfx-sns.md
Owners: @dfinity/sdk, @chenyan-dfinity

Update e2e/tests-dfx/extension.bash
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

Update e2e/tests-dfx/extension.bash
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

☝️
  e2e/tests-dfx/extension.bash
Owners: @dfinity/sdk, @chenyan-dfinity

fix(extension): when executing ext, allow params with hyphens (#3231)
  e2e/tests-dfx/extension.bash
  src/dfx/src/commands/extension/run.rs
Owners: @dfinity/sdk, @chenyan-dfinity

Deploying to public-manifest from @ 2b08415d1fbc0ac6aae70966b943d366eefe320d 🚀
  install.sh
Owners: @dfinity/sdk, @chenyan-dfinity

shellcheck
  e2e/tests-dfx/identity.bash
Owners: @dfinity/sdk, @chenyan-dfinity

fix!: restrict dfx identity new to safe characters (#3217)
  CHANGELOG.md
  docs/cli-reference/dfx-identity.md
  e2e/tests-dfx/identity.bash
  src/dfx/src/commands/identity/new.rs
Owners: @dfinity/sdk, @chenyan-dfinity

fix(e2e): trying out things
  e2e/tests-dfx/ledger.bash
Owners: @dfinity/sdk, @chenyan-dfinity

fix(e2e): trying out things
  e2e/tests-dfx/ledger.bash
Owners: @dfinity/sdk, @chenyan-dfinity

chore: update replica version to a17247bd86c7aa4e87742bf74d108614580f216d
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @ghost, @dfinity/sdk, @chenyan-dfinity

changelog
  CHANGELOG.md
Owners: @dfinity/sdk, @chenyan-dfinity

refactor: move cmc, ledger methods from commands/ to lib/
  src/dfx/src/commands/ledger/create_canister.rs
  src/dfx/src/commands/ledger/mod.rs
  src/dfx/src/commands/ledger/notify/create_canister.rs
  src/dfx/src/commands/ledger/notify/top_up.rs
  src/dfx/src/commands/ledger/top_up.rs
  src/dfx/src/commands/ledger/transfer.rs
  src/dfx/src/commands/quickstart.rs
  src/dfx/src/lib/operations/cmc.rs
  src/dfx/src/lib/operations/ledger.rs
  src/dfx/src/lib/operations/mod.rs
Owners: @dfinity/sdk, @chenyan-dfinity

chore: update replica version to a17247bd (#3233)
  CHANGELOG.md
  nix/sources.json
  src/dfx/assets/dfx-asset-sources.toml
Owners: @dfinity/sdk, @chenyan-dfinity, @ghost

revert changes to dfx nns install command in ledger.bash
  e2e/tests-dfx/ledger.bash
Owners: @dfinity/sdk, @chenyan-dfinity
